* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(100deg, #a18cd1 0%, #fbc2eb 100%);
}

.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 450px;
    height: 600px;
    background-color: white;
    border-radius: 8px;
    padding: 40px;
}

.form_input{
    margin-bottom: 30px;
}

.btn { 
    margin-top: 20px;
}

#subtitulo {
    margin-bottom:30px;
}